<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name"/>
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="text" name="email" required id="email" [(ngModel)]="register.email"/>
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label for="password">Contraseña</label>
    <input type="text" name="password" required id="password" [(ngModel)]="register.password"/>
    <p>Mensaje de Error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>




<hr/>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}">

<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }">
    </div>
  </div>
</div>

<hr />
<h1>Class & Styles</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>

<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>



<hr />
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'claudio'">Duende Claudio</p>
  <p *ngSwitchCase="'chepi'">Duende Chepi</p>
  <p *ngSwitchDefault>No hay duendes en este valle</p>
</div>


<hr />
<h1>*ngFor Objetos</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <h3>{{product.name}}</h3>
    <img [src]="product.image" alt="producto">
    <p>{{product.price}}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add Name</button>
<button (click)="delName()">Delete last name</button>
<ul>
  <li *ngFor="let name of names; index as i">
    {{i}} {{ name }}
  </li>
</ul>


<hr />
<h1>*ngIf</h1>
<input type="text" [(ngModel)]="person.name">
<p *ngIf="person.name == 'Platzi'">www.platzi.com</p>
<p *ngIf="person.name == 'Facebook'; else elseBlock">www.facebook.com</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Nombre {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p>Nombre Válido: {{ nameInput.valid }}</p>
<input type="number" required max="45" min="18" #ageInput="ngModel" [(ngModel)]="person.age">
<p>Edad Válida: {{ ageInput.valid }}</p>


<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="addAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem eum laboriosam iusto, fugiat consequuntur,
    consequatur ut cumque a dignissimos tempore praesentium similique maiores nobis, corporis minus! Atque non quas
    tenetur!</p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">

<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="image">

<hr />
<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<p>3 + 3 ={{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="50px" src={{img}} alt="image">
